<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
</head>
<body>
    <img src="https://st4.depositphotos.com/4967103/22006/v/950/depositphotos_220068482-stock-illustration-404-error-found-tee-print.jpg"
    alt="Error!">
</body>
</html>
