doctype html
html
    head
        style
            include style.css
    body
        div.header
            | Hello, this is Test App!
            block content

        div.footer
            | Best regards,
            br
            | Andriy